<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="../../static/css/bathroomStyle.css">
    <script src="../../static/js/add_bathroom.js" defer></script>
 </head>

<body>
    <h1>Add Bathroom</h1>
    <p>Please provide the details regarding the bathroom.</p>
    <br>
    <p>Bathroom Type:</p>
    <div class="btn-container">
        <button type='button' onclick="showIsPrimary(isPrimary)">Half</button>
        <button type='button' onclick="">Full</button>
<!--        showIsPrimary()-->
    </div>
<br>
        {% if error_msg %}
        <p style="color:red;"> {{ error_msg }} </p>

        {% endif %}

    <form action="" method="POST">
        <fieldset>
            <div class="color-bar"></div>
            <div class="select-amount">
                <div>
                    <p>Sinks:</p>
                    <div>
                        <p class="sub" style="color:lightblue">-</p>
                        <input type="text" placeholder="0" class="quantity" name="sinks" value="0">
                        <!-- <p class="divider">0</p> -->
                        <p class="add" style="color:lightblue">+</p>
                    </div>
                    
                    
                </div>
                <div>
                    <p>Commodes:</p>
                    <div>
                        <p class="sub" style="color:lightblue">-</p>
                        <input type="text" placeholder="0" class="quantity" name="commodes" value="0">
                        <!-- <p class="divider">0</p> -->
                        <p class="add" style="color:lightblue">+</p>
                    </div>
                    
                    
                </div>
                <div>
                    <p>Bidets:</p>
                    <div>
                        <p class="sub" style="color:lightblue">-</p>
                        <input type="text" placeholder="0" class="quantity" name="bidets" value="0">
                        <!-- <p class="divider">0</p> -->
                        <p class="add" style="color:lightblue">+</p>
                    </div>
                    
                    
                </div>
                <div class="zero">
                    <label for="nonunique_name">Nonunique name:</label>
                     <input type="text" name="nonunique_name" id="nonunique_name">
                </div>
                <div class="4th">
                    <p>Bathtubs:</p>
                    <div>
                        <p class="sub" style="color:lightblue">-</p>
                        <input type="text" placeholder="0" class="quantity" id="bathtubs" name="bathtubs" value="0">
                        <!-- <p class="divider">0</p> -->
                        <p class="add" style="color:lightblue">+</p>
                    </div>
                    
                    
                </div>
                <div class="5th">
                    <p>Showers:</p>
                    <div>
                        <p class="sub" style="color:lightblue">-</p>
                        <input type="text" placeholder="0" class="quantity" id="showers" name="showers" value="0">
                        <!-- <p class="divider">0</p> -->
                        <p class="add" style="color:lightblue">+</p>
                    </div>
                    
                    
                </div>
                <div class="6th">
                    <p>Tubs/Showers:</p>
                    <div>
                        <p class="sub" style="color:lightblue">-</p>
                        <input type="text" placeholder="0" class="quantity" id="tubs" name="tubs" value="0">
                        <!-- <p class="divider">0</p> -->
                        <p class="add" style="color:lightblue">+</p>
                    </div>
                </div>

            </div>

        </fieldset>



        {% if turn_off_isPrimary is sameas false %}
         <div id="isPrimary" class="isPrimary" style="display:none;">
                <input type="checkbox" id="" name="isPrimary" value="True" onclick="" >
                <label for="isPrimary"> This bathroom is a primary bathroom.</label>
         </div>

        {% endif %}


        <br>

        <div class="inputGroup">
            <button type="submit"  onClick=""> Add </button>
        </div>

    </form>
 
</body>

</html>