<!DOCTYPE html>
<html>
  <img src="../static/images/add_app.jpg" alt="Girl in a jacket" width="535" height="60">

 <head>
<title>Web browser</title>
</head>
<body>

<h1>Appliances</h1>



<h3> <label for="cheese"> You have added the following appliances to your household: </label><br/></h3>

<table border="1">
  <tr>
    <th>Order#</th>
    <th>Type</th>
    <th> Manufacturer </th>
    <th> Model </th>
  </tr>
{% for appl in household_appliance %}
<tr>
  <td>{{ appl['appliance_order'] }}</td>
  <td>{{ appl['appliance_type'] }}</td>
  <td>{{ appl['manuf'] }}</td>
  <td>{{ appl['model_name'] }}</td>
</tr>
{% endfor %}
</table>

<a href="{{ url_for('add_appliance') }}">+ Add another appliance</a>
<br><br>
<p align="left">
<a href="{{url_for('wrap_up')}}"><button>Next</button></a>

</p>
</div>

</body>
</html>
