<!DOCTYPE html>
<html>
  <img src="../static/images/add_bathroom.jpg" alt="Girl in a jacket" width="535" height="60">
 <head>
<title>Web browser</title>
</head>
<body>

<h1>Bathrooms</h1>

<h3> <label for="cheese"> You have added the following bathrooms to your household: </label><br/></h3>
      <h3> <label for="cheese"> Bathroom type: </label><br/></h3>

<table border="1">
  <tr>
    <th>Bathroom #</th>
    <th>Type</th>
    <th> Primary </th>
  </tr>
{% for bath in household_bathrooms %}
<tr>
  <td>{{ bath['bathroom_order']}}</td>
  <td>{{ bath['bathroom_type'] }}</td>
  {% if bath['isPrimary'] == False %}
  <td></td>
  {% else %}
  <td>Yes</td>
  {% endif %}
</tr>
{% endfor %}
</table>

<A href = "{{ url_for('add_bathroom') }}"> + Add another bathroom</A>
<br><br>
<p align="left">
<input type="button"  onclick="window.location.href=' {{ url_for('add_appliance') }}';" value="Next"; />



</p>
</div>

</body>
</html>
