<!DOCTYPE html>
<html>

    <img src="../static/images/graphic_getemail.jpg" alt="Girl in a jacket" width="535" height="60">

<head>
<title>Web browser</title>
</head>
<body>

<h1>Enter household info</h1>
<style>
div {
  height: 100px;
  width: 400px;
  margin: 10px;
  }

  button{
  padding: 10px, 30px;
  }

</style>
<div>
    <form method="POST">

        <h2> <label for="cheese">Please enter your email address:</label><br/></h2>
        <input type="email" id="emailtextbox" name="email" size="40" required>

        {%if dup_email_error != None %}
            <br>
            <a style="color:red;">{{dup_email_error}} </a>
        {% endif %}

        <div align="center">
            <button type="submit"  onClick=""> Submit </button>
        </div>

    </form>

</div>
</body>
</html>