<!DOCTYPE html>
<html>

  <img src="../static/images/graphic_getemail.jpg" alt="Girl in a jacket" width="535" height="60">

<head>
<title>Web browser</title>
</head>
<body>

<h1>Enter household info</h1>
<style>
div {
  height: 100px;
  width: 500px;
  }
</style>
<div>
  
   <h3> <label for="cheese"> Please enter the following details for your household </label><br/></h3>

<div id="parap"> 
    <form id="homeDet" method="POST">

        <label for="homeType">Home Type:</label>
<select id="homeType" name="homeType" form="homeDet" required>
      <option value="">Select</option>
  <option value="apartment">Apartment</option>
  <option value="townhome">TownHome</option>
  <option value="condominium">Condominium</option>
  <option value="mobilehome">Mobile Home</option>
</select>
        <br>

  <label for="squrefootage">Square Footage:</label>
  <input type="number" id="squrefootage" name="squrefootage" required>
      <br>
  <label for="occupants">Occupants:</label>
  <input type="number" id="occupants" name="occupants" required>
          <br>
  <label for="bedrooms">Bedrooms:</label>
  <input type="number" id="bedrooms" name="bedrooms" required>

<br>


      <button type="submit"  onClick=""> Next </button>

      </form>
</div> 
 

</div>
</body>
</html>
