<!DOCTYPE html>
<html>

  <img src="../static/images/graphic_getemail.jpg" alt="Girl in a jacket" width="535" height="60">

<head>
<title>Web browser</title>
</head>
<body>

<h1>Enter household info</h1>
<style>
div {
  height: 100px;
  width: 500px;
  }
</style>
<div>
    <form method="POST">
        <h2> <label for="cheese">Please enter your five digit postal code:</label><br/></h2>
        <input type="text" id="emailtextbox" size="40" name="postalCode" maxlength="5">
        <p align="center">
        <button type="submit"  onclick=""/>Submit </button>
        </p>

        {% if postCode_error_msg != None %}
        <p style="color:red;"> {{ postCode_error_msg }} </p>
        {% endif %}

    </form>





</div>
</body>
</html>