<!DOCTYPE html>
<html>
<head>
<title>Web browser</title>
</head>
<body>

<h1>Welcome to Hemcraft Reports!</h1>
<h2>Please choose the report you'd like to view:</h2>
<A HREF = "{{ url_for('top_manuf') }}">Top 25 Popular Manufacturers</A>
<br/>
<A HREF = "{{ url_for('manuf_and_model') }}">Manufacturer/model search</A>
<br>
<A HREF = "{{ url_for('avg_tv_display_size_by_state') }}">Average TV display size by state</A>
<br>
<A HREF = "{{ url_for('ex_fridge_report') }}">Extra fridge/freezer report</A>
<br>
<A HREF = "{{ url_for('list_laundry') }}">Laundry center Report</A>
<br>
<A HREF = "{{ url_for('bathroom_stat') }}">Bathroom Statistics</A>
<br>
<A HREF = "{{ url_for('radius_search') }}">Household averages by radius</A>
<br>
<br>
<a href="{{ url_for('index') }}">Return to the main menu</a>
</body>
</html>